doctype html

html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title Natours | Exciting Tours for adventerous people.
            link(rel="stylesheet", href='/css/style.css')
            link(rel="shortcut icon", href="image/png" img='img/favicon.png')
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            
            title Natours | #{title}
    Body
        // HEADER
        include _header

        // CONTENT
        block content
            h1 this is a placeholder heading

        // Footer
        include _footer
        
        //- script(src="/js/login.js")
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
        